*{
transition:all ease 0.5s;
}
body{

    background: url("images/space.jpg") no-repeat center center fixed;

   /*
    background: #1E2B3C;*/
    background-size: cover;
}
p {
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
    color: white;
}


.nav{
    text-align: center;
}
.site-title{
    color: white;
    font-family: 'Supermercado One', cursive;
    font-size: 2em;
    margin-top: 25px;
    text-decoration:none;
}

.back-btn{
    float: right;
} 
.back-btn:hover {
    cursor: pointer;
}

.results-box{
    background-color: rgb(255,255,255,1);
    width: 90%;
    margin: 100px auto;
    border-radius: 10px;   
}

.content{
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px; 
    color:rgb(106,106,106);
}
.footer{
    color: white;
    margin-bottom: 20px;
}
.author-name{
    color: #B2E0FF;
   text-decoration:none; 
}