<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link href="https://fonts.googleapis.com/css?family=Supermercado+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
     {% if title %}
        <title>Vector Space Model - {{ title }}</title>
     {% else %}
        <title>Vector Space Model</title>
     {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">-->
</head>
<body>

    <div class="nav">
            <a href="" class="site-title">
                Vector Space Model Search Engine
            </a>
    </div>
    <div class="search-box">
        <!--  Logo  -->
        <img style="margin: 0px 0px 0px auto;" src="../static/images/logo01.png" alt="Logo" width="100%">
        <form method="POST">
            <input name="text" class="input-text"><br>
            <p>Input Example: A D E M Z</p>
            <span style="display:inline!important;">
                <input type="submit" name="sub" formaction="/" value="Search" class="submit-btn">
                <input type="submit"  name="random" formaction="/rand" value="I'm Feeling Lucky" class="submit-btn">
            </span>
        </form>
    </div>

    {% if showdata %}
    <div class="results-box">
        <h2 class="query-title">
            Results of {{ query }} :
        </h2>
        {% for i in list %}
        <div class="result-return">
            <h3>
            <span >
                <a href="{{ url_for('result',name = i, text = query) }}" class="file-name">
                    {{i}}
                </a>
            </span>
            <span class="score">
                , Score : {{ list[i][0] }}
            </span>
            </h3>
            <div class="content">
                {{ list[i][1] }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <div class="footer">
        Copyright © 2019 - <a href="https://github.com/AbdelrahmanBayoumi" target="_blank" class="author-name">Abdelrahman Bayoumi</a>. All Rights Reserved.
    </div>
</body>
</html>